In [1]:
import pandas as pd

In [27]:
df = pd.read_csv('../../data/feed_actions_last_10.csv', index_col=None, sep=';')

In [28]:
df_feed_actions = df.drop('row_number', axis=1)

In [29]:
df_feed_actions

         user_id  post_id action                 time
0            200     5181   view  2022-01-02 09:44:32
1            200     5228   view  2022-01-02 09:44:18
2            200     5319   view  2022-01-02 09:43:55
3            200     5379   view  2022-01-02 09:43:47
4            200     5361   view  2022-01-02 09:43:02
...          ...      ...    ...                  ...
1631929   168552     7094   like  2022-01-24 18:53:16
1631930   168552     6846   like  2022-01-24 18:52:46
1631931   168552     7097   like  2022-01-24 18:51:53
1631932   168552     7094   view  2022-01-24 18:51:46
1631933   168552     6975   view  2022-01-24 18:51:27

[1631934 rows x 4 columns]

Преобразуем дату и время в timestamp

In [154]:
df_feed_actions['time'] = pd.to_datetime(df['time']).astype(int) // 10**6
df_feed_actions

         user_id  post_id action           time
0            200     5181   view  1641116672000
1            200     5228   view  1641116658000
2            200     5319   view  1641116635000
3            200     5379   view  1641116627000
4            200     5361   view  1641116582000
...          ...      ...    ...            ...
1631929   168552     7094   like  1643050396000
1631930   168552     6846   like  1643050366000
1631931   168552     7097   like  1643050313000
1631932   168552     7094   view  1643050306000
1631933   168552     6975   view  1643050287000

[1631934 rows x 4 columns]

In [89]:
df_users = pd.read_csv('../../data/users.csv', index_col=None, sep=';')
df_users = df_users.rename(columns={'id': 'user_id'})
df_users

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [90]:
df_posts = pd.read_csv('../../data/posts.csv', index_col=None, sep=';')
df_posts = df_posts.rename(columns={'id': 'post_id'})
df_posts

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

Объединим таблицы feed_actions, users и posts

In [155]:
df_merged_1 = df_users.merge(df_feed_actions, on='user_id')

In [92]:
df_merged_1

,user_id,gender,age,country,city,exp_group,os,source,post_id,action,time
0,200,1,34,Russia,Degtyarsk,3,Android,ads,5181,view,1641116672000
1,200,1,34,Russia,Degtyarsk,3,Android,ads,5228,view,1641116658000
2,200,1,34,Russia,Degtyarsk,3,Android,ads,5319,view,1641116635000
3,200,1,34,Russia,Degtyarsk,3,Android,ads,5379,view,1641116627000
4,200,1,34,Russia,Degtyarsk,3,Android,ads,5361,view,1641116582000
...,...,...,...,...,...,...,...,...,...,...,...
1631929,168552,1,16,Russia,Ivanteyevka,4,Android,organic,7094,like,1643050396000
1631930,168552,1,16,Russia,Ivanteyevka,4,Android,organic,6846,like,1643050366000
1631931,168552,1,16,Russia,Ivanteyevka,4,Android,organic,7097,like,1643050313000
1631932,168552,1,16,Russia,Ivanteyevka,4,Android,organic,7094,view,1643050306000
1631933,168552,1,16,Russia,Ivanteyevka,4,Android,organic,6975,view,1643050287000

In [156]:
df_merged_2 = df_merged_1.merge(df_posts, on='post_id', how='left')

In [157]:
target = df_merged_2['action']
target

0          view
1          view
2          view
3          view
4          view
           ...
1631929    like
1631930    like
1631931    like
1631932    view
1631933    view
Name: action, Length: 1631934, dtype: object

In [158]:
df_2 = df_merged_2.drop('action', axis=1)
df_2['action'] = target
df_2

,user_id,gender,age,country,city,exp_group,os,source,post_id,time,text,topic,action
0,200,1,34,Russia,Degtyarsk,3,Android,ads,5181,1641116672000,I saw this film when it was originally release...,movie,view
1,200,1,34,Russia,Degtyarsk,3,Android,ads,5228,1641116658000,Alien was excellent. Many writers tried to cop...,movie,view
2,200,1,34,Russia,Degtyarsk,3,Android,ads,5319,1641116635000,"This amusing, sometimes poignant look at the H...",movie,view
3,200,1,34,Russia,Degtyarsk,3,Android,ads,5379,1641116627000,"Im starting to think that theres a conspiracy,...",movie,view
4,200,1,34,Russia,Degtyarsk,3,Android,ads,5361,1641116582000,"More wide-eyed, hysterical 50s hyper-cheerfuln...",movie,view
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631929,168552,1,16,Russia,Ivanteyevka,4,Android,organic,7094,1643050396000,From the opening scenes of FIERCE PEOPLE (an i...,movie,like
1631930,168552,1,16,Russia,Ivanteyevka,4,Android,organic,6846,1643050366000,I have never seen a Barbara Steele movie that ...,movie,like
1631931,168552,1,16,Russia,Ivanteyevka,4,Android,organic,7097,1643050313000,Original Claymation Rudolph: Pretty good. Orig...,movie,like
1631932,168552,1,16,Russia,Ivanteyevka,4,Android,organic,7094,1643050306000,From the opening scenes of FIERCE PEOPLE (an i...,movie,view
1631933,168552,1,16,Russia,Ivanteyevka,4,Android,organic,6975,1643050287000,"Journalist Bob Woodwards blistering, scattersh...",movie,view

Преобразуем категориальные колонки в числовые

In [159]:
df_2['os'] = df_2['os'].astype('category').cat.codes
df_2['source'] = df_2['source'].astype('category').cat.codes
df_2['city'] = df_2['city'].astype('category').cat.codes

df_2

,user_id,gender,age,country,city,exp_group,os,source,post_id,time,text,topic,action
0,200,1,34,Russia,651,3,0,0,5181,1641116672000,I saw this film when it was originally release...,movie,view
1,200,1,34,Russia,651,3,0,0,5228,1641116658000,Alien was excellent. Many writers tried to cop...,movie,view
2,200,1,34,Russia,651,3,0,0,5319,1641116635000,"This amusing, sometimes poignant look at the H...",movie,view
3,200,1,34,Russia,651,3,0,0,5379,1641116627000,"Im starting to think that theres a conspiracy,...",movie,view
4,200,1,34,Russia,651,3,0,0,5361,1641116582000,"More wide-eyed, hysterical 50s hyper-cheerfuln...",movie,view
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631929,168552,1,16,Russia,1061,4,0,1,7094,1643050396000,From the opening scenes of FIERCE PEOPLE (an i...,movie,like
1631930,168552,1,16,Russia,1061,4,0,1,6846,1643050366000,I have never seen a Barbara Steele movie that ...,movie,like
1631931,168552,1,16,Russia,1061,4,0,1,7097,1643050313000,Original Claymation Rudolph: Pretty good. Orig...,movie,like
1631932,168552,1,16,Russia,1061,4,0,1,7094,1643050306000,From the opening scenes of FIERCE PEOPLE (an i...,movie,view
1631933,168552,1,16,Russia,1061,4,0,1,6975,1643050287000,"Journalist Bob Woodwards blistering, scattersh...",movie,view

Проверим данные на пропуски

In [98]:
if df_2.isna().any().any():
    print('есть пропуски')
else:
    print('пропусков нет')

пропусков нет

Преобразуем колонки 'topic' и 'country' в числовые, причем по популярности

In [160]:
# Вычисление частотности каждой категории
topic_frequency_map = df_2['topic'].value_counts().to_dict()

topic_frequency_map

{'movie': 1571980,
 'covid': 56752,
 'tech': 1613,
 'sport': 990,
 'politics': 372,
 'entertainment': 154,
 'business': 73}

In [161]:
for top_freq, topic in enumerate(topic_frequency_map.keys()):
    topic_frequency_map[topic] = top_freq

In [162]:
topic_frequency_map

{'movie': 0,
 'covid': 1,
 'tech': 2,
 'sport': 3,
 'politics': 4,
 'entertainment': 5,
 'business': 6}

Преобразование категориальной колонки 'topic' в числовую по частотности

In [168]:
df_2['topic_num'] = df_2['topic'].map(topic_frequency_map)
df_2

,user_id,gender,age,country,city,exp_group,os,source,post_id,time,text,topic,action,topic_numerical,topic_num
0,200,1,34,Russia,651,3,0,0,5181,1641116672000,I saw this film when it was originally release...,movie,view,0,0
1,200,1,34,Russia,651,3,0,0,5228,1641116658000,Alien was excellent. Many writers tried to cop...,movie,view,0,0
2,200,1,34,Russia,651,3,0,0,5319,1641116635000,"This amusing, sometimes poignant look at the H...",movie,view,0,0
3,200,1,34,Russia,651,3,0,0,5379,1641116627000,"Im starting to think that theres a conspiracy,...",movie,view,0,0
4,200,1,34,Russia,651,3,0,0,5361,1641116582000,"More wide-eyed, hysterical 50s hyper-cheerfuln...",movie,view,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631929,168552,1,16,Russia,1061,4,0,1,7094,1643050396000,From the opening scenes of FIERCE PEOPLE (an i...,movie,like,0,0
1631930,168552,1,16,Russia,1061,4,0,1,6846,1643050366000,I have never seen a Barbara Steele movie that ...,movie,like,0,0
1631931,168552,1,16,Russia,1061,4,0,1,7097,1643050313000,Original Claymation Rudolph: Pretty good. Orig...,movie,like,0,0
1631932,168552,1,16,Russia,1061,4,0,1,7094,1643050306000,From the opening scenes of FIERCE PEOPLE (an i...,movie,view,0,0
1631933,168552,1,16,Russia,1061,4,0,1,6975,1643050287000,"Journalist Bob Woodwards blistering, scattersh...",movie,view,0,0

In [164]:
# Вычисление частотности по странам
country_frequency_map = df_2['country'].value_counts().to_dict()

for top_freq, country in enumerate(country_frequency_map.keys()):
    country_frequency_map[country] = top_freq

In [165]:
country_frequency_map

{'Russia': 0,
 'Ukraine': 1,
 'Belarus': 2,
 'Kazakhstan': 3,
 'Turkey': 4,
 'Finland': 5,
 'Azerbaijan': 6,
 'Estonia': 7,
 'Latvia': 8,
 'Cyprus': 9,
 'Switzerland': 10}

In [171]:
df_2['country_num'] = df_2['country'].map(country_frequency_map)

In [173]:
df_2['country'] = df_2['country_num']
df_2['topic'] = df_2['topic_num']

df_2.drop(['country_num','topic_num'], axis=1, inplace=True)

,user_id,gender,age,country,city,exp_group,os,source,post_id,time,text,topic,action,topic_numerical
0,200,1,34,0,651,3,0,0,5181,1641116672000,I saw this film when it was originally release...,0,view,0
1,200,1,34,0,651,3,0,0,5228,1641116658000,Alien was excellent. Many writers tried to cop...,0,view,0
2,200,1,34,0,651,3,0,0,5319,1641116635000,"This amusing, sometimes poignant look at the H...",0,view,0
3,200,1,34,0,651,3,0,0,5379,1641116627000,"Im starting to think that theres a conspiracy,...",0,view,0
4,200,1,34,0,651,3,0,0,5361,1641116582000,"More wide-eyed, hysterical 50s hyper-cheerfuln...",0,view,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631929,168552,1,16,0,1061,4,0,1,7094,1643050396000,From the opening scenes of FIERCE PEOPLE (an i...,0,like,0
1631930,168552,1,16,0,1061,4,0,1,6846,1643050366000,I have never seen a Barbara Steele movie that ...,0,like,0
1631931,168552,1,16,0,1061,4,0,1,7097,1643050313000,Original Claymation Rudolph: Pretty good. Orig...,0,like,0
1631932,168552,1,16,0,1061,4,0,1,7094,1643050306000,From the opening scenes of FIERCE PEOPLE (an i...,0,view,0
1631933,168552,1,16,0,1061,4,0,1,6975,1643050287000,"Journalist Bob Woodwards blistering, scattersh...",0,view,0

In [176]:
df_2

,user_id,gender,age,country,city,exp_group,os,source,post_id,time,text,topic,action
0,200,1,34,0,651,3,0,0,5181,1641116672000,I saw this film when it was originally release...,0,view
1,200,1,34,0,651,3,0,0,5228,1641116658000,Alien was excellent. Many writers tried to cop...,0,view
2,200,1,34,0,651,3,0,0,5319,1641116635000,"This amusing, sometimes poignant look at the H...",0,view
3,200,1,34,0,651,3,0,0,5379,1641116627000,"Im starting to think that theres a conspiracy,...",0,view
4,200,1,34,0,651,3,0,0,5361,1641116582000,"More wide-eyed, hysterical 50s hyper-cheerfuln...",0,view
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631929,168552,1,16,0,1061,4,0,1,7094,1643050396000,From the opening scenes of FIERCE PEOPLE (an i...,0,like
1631930,168552,1,16,0,1061,4,0,1,6846,1643050366000,I have never seen a Barbara Steele movie that ...,0,like
1631931,168552,1,16,0,1061,4,0,1,7097,1643050313000,Original Claymation Rudolph: Pretty good. Orig...,0,like
1631932,168552,1,16,0,1061,4,0,1,7094,1643050306000,From the opening scenes of FIERCE PEOPLE (an i...,0,view
1631933,168552,1,16,0,1061,4,0,1,6975,1643050287000,"Journalist Bob Woodwards blistering, scattersh...",0,view

Преобразуем таргетную колонку 'action' в числовую: view -> 0, like -> 1 (успех)

In [74]:
df_2['action'].unique()

array(['view', 'like'], dtype=object)

In [179]:
df_2['action'] = df_2['action'].replace(['view', 'like'], [0, 1])

/var/folders/3y/rd5ld8cn7bv7yr9nlqd8vf0c0000gn/T/ipykernel_15282/526187676.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2['action'] = df_2['action'].replace(['view', 'like'], [0, 1])

In [182]:
df_2

,user_id,gender,age,country,city,exp_group,os,source,post_id,time,text,topic,action
0,200,1,34,0,651,3,0,0,5181,1641116672000,I saw this film when it was originally release...,0,0
1,200,1,34,0,651,3,0,0,5228,1641116658000,Alien was excellent. Many writers tried to cop...,0,0
2,200,1,34,0,651,3,0,0,5319,1641116635000,"This amusing, sometimes poignant look at the H...",0,0
3,200,1,34,0,651,3,0,0,5379,1641116627000,"Im starting to think that theres a conspiracy,...",0,0
4,200,1,34,0,651,3,0,0,5361,1641116582000,"More wide-eyed, hysterical 50s hyper-cheerfuln...",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631929,168552,1,16,0,1061,4,0,1,7094,1643050396000,From the opening scenes of FIERCE PEOPLE (an i...,0,1
1631930,168552,1,16,0,1061,4,0,1,6846,1643050366000,I have never seen a Barbara Steele movie that ...,0,1
1631931,168552,1,16,0,1061,4,0,1,7097,1643050313000,Original Claymation Rudolph: Pretty good. Orig...,0,1
1631932,168552,1,16,0,1061,4,0,1,7094,1643050306000,From the opening scenes of FIERCE PEOPLE (an i...,0,0
1631933,168552,1,16,0,1061,4,0,1,6975,1643050287000,"Journalist Bob Woodwards blistering, scattersh...",0,0